[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=berry
Comment=berry - a small window manager
Exec=berry &
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

